# Boston房价预测

## 载入数据集

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import *

In [2]:
def loadDataSet(route=r'D:\CS\dataset\competition\train.csv'):
    dataSet = pd.read_csv(route)
    return dataSet

In [3]:
dataSet = loadDataSet()

In [4]:
dataSet.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [5]:
X = dataSet[dataSet.columns[1:-1]]
y = dataSet['medv']

In [27]:
X.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
4,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43

13个特征

In [24]:
y.head()

0    24.0
1    21.6
2    33.4
3    36.2
4    22.9
Name: medv, dtype: float64

## 数据预处理

In [8]:
rf = RandomForestRegressor(n_estimators=300, min_samples_split=2, n_jobs=4, oob_score=True, max_depth=20, random_state=10)
rf.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=4,
           oob_score=True, random_state=10, verbose=0, warm_start=False)

In [9]:
rf.feature_importances_

array([0.04016859, 0.00095294, 0.00538455, 0.00136589, 0.01377651,
       0.45478147, 0.01459543, 0.06868596, 0.00722839, 0.01241007,
       0.00984075, 0.01138115, 0.3594283 ])

In [10]:
rf.oob_score_

0.8698696867122027

In [11]:
feature_importance = (rf.feature_importances_ >= 0.01).astype(int)

In [12]:
feature_choosen = [X.columns[i] for i in range(0, len(X.columns)) if feature_importance[i] != 0]
print('these features are userful:', feature_choosen)

these features are userful: ['crim', 'nox', 'rm', 'age', 'dis', 'tax', 'black', 'lstat']

In [22]:
new_features = feature_choosen
new_X = dataSet[new_features]
new_X.head()

      crim    nox     rm   age     dis  tax   black  lstat
0  0.00632  0.538  6.575  65.2  4.0900  296  396.90   4.98
1  0.02731  0.469  6.421  78.9  4.9671  242  396.90   9.14
2  0.03237  0.458  6.998  45.8  6.0622  222  394.63   2.94
3  0.06905  0.458  7.147  54.2  6.0622  222  396.90   5.33
4  0.08829  0.524  6.012  66.6  5.5605  311  395.60  12.43

以上步骤是去除unuseful features

## Prediction

In [14]:
gbdt = GradientBoostingRegressor(n_estimators=20, max_depth=10, learning_rate=0.4, min_samples_leaf=3)
gbdt.fit(new_X, y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.4, loss='ls', max_depth=10, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=3,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=20, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [15]:
testSet = loadDataSet(r'D:\CS\dataset\competition\test.csv')
testSet = testSet[new_features]
pred_y = gbdt.predict(testSet)

In [16]:
pred_y

array([33.30663458, 26.62066749, 15.0523592 , 12.06653239, 16.42421091,
       19.91437808, 20.82492663, 15.4591628 , 15.6170814 , 19.85111142,
       17.16005789, 23.72582023, 17.34758837, 14.01194381, 20.58564585,
       23.40349688, 21.46838356, 30.84453781, 14.1472635 , 23.61924279,
       21.33490491, 23.79787931, 21.13769459, 21.20209709, 20.73144863,
       20.68512034, 23.20964571, 22.38674337, 22.48730439, 27.83994731,
       43.63822628, 43.85781323, 31.0738582 , 20.15565042, 18.8585499 ,
       20.11411096, 17.88701368, 16.43595077, 18.87125175, 20.55028543,
       16.33573622, 20.2850218 , 19.32421422, 17.9490976 , 16.69212653,
       14.31545446, 13.62904966, 16.35758961, 20.95811312, 22.83361673,
       17.75146745, 28.47574168, 49.23194755, 21.53549889, 19.58445492,
       21.8945284 , 31.06472379, 47.25827801, 35.11228501, 33.33026225,
       33.04190966, 44.63785992, 19.45947987, 16.00233533, 17.56494678,
       21.08602756, 25.39286876, 22.04469772, 17.89110833, 21.82965895,
       23.78739287, 43.78385911, 38.90316828, 36.91843272, 24.83065372,
       27.08607072, 22.33397103, 19.43654649, 18.58240071, 34.61977178,
       21.3333678 , 22.75849359, 43.43017913, 49.88076941, 36.34968755,
       27.59714764, 42.99407805, 20.74610154, 21.13357967, 32.08152028,
       34.76721575, 31.18116588, 24.69374409, 45.24320968, 23.19695127,
       23.05137863, 35.82357   , 21.96115991, 26.34548169, 24.07266581,
       34.2888946 , 27.51984423, 27.03626858, 20.99961857, 24.542591  ,
       22.18334655, 24.25015775, 20.11045935, 20.32158313, 24.51846794,
       23.57393988, 19.38376823, 20.25790536, 18.65945384, 19.85693365,
       20.73130756, 20.85779885, 24.08508   , 28.70860022, 32.85271436,
       20.83278236, 22.29381604, 20.94633836, 20.34666595, 51.14075538,
       50.01575609, 18.04494322, 10.52093598, 11.04206261, 19.45978802,
       10.9904787 ,  7.19193151,  7.75891921, 16.59118358, 11.5176481 ,
       12.33492335, 14.06959069, 10.70553913, 11.68084046,  9.00205111,
        7.70069672, 14.03008733, 15.89350993, 40.50301059, 16.12608797,
       15.62159368,  9.8456364 , 11.93346044, 18.36141491, 21.51675685,
       16.53106979, 15.49127854, 13.79527588, 11.28627236, 12.6507656 ,
        8.21541859, 17.19248313, 12.49644063, 13.3124615 , 12.58522655,
       15.55856176, 18.36657455, 28.72642072, 17.55574837, 33.21361347,
       21.53805834, 10.74632507, 19.88292073, 18.98005826, 19.17188986,
       20.47864267, 20.5765045 , 29.40030787])

In [17]:
submissionSet = loadDataSet(r'D:\CS\dataset\competition\submission_example.csv')

In [18]:
submissionSet['medv'] = pd.Series(pred_y)

In [19]:
submissionSet

      ID       medv
0      3  33.306635
1      6  26.620667
2      8  15.052359
3      9  12.066532
4     10  16.424211
5     18  19.914378
6     20  20.824927
7     25  15.459163
8     26  15.617081
9     27  19.851111
10    29  17.160058
11    30  23.725820
12    33  17.347588
13    34  14.011944
14    36  20.585646
15    37  23.403497
16    38  21.468384
17    42  30.844538
18    49  14.147263
19    53  23.619243
20    60  21.334905
21    63  23.797879
22    70  21.137695
23    72  21.202097
24    79  20.731449
25    80  20.685120
26    83  23.209646
27    92  22.386743
28    93  22.487304
29    96  27.839947
..   ...        ...
143  411  40.503011
144  412  16.126088
145  413  15.621594
146  417   9.845636
147  421  11.933460
148  422  18.361415
149  423  21.516757
150  424  16.531070
151  427  15.491279
152  431  13.795276
153  436  11.286272
154  437  12.650766
155  439   8.215419
156  447  17.192483
157  450  12.496441
158  451  13.312462
159  455  12.585227
160  457  15.558562
161  471  18.366575
162  474  28.726421
163  476  17.555748
164  483  33.213613
165  486  21.538058
166  490  10.746325
167  495  19.882921
168  496  18.980058
169  497  19.171890
170  499  20.478643
171  501  20.576505
172  505  29.400308

[173 rows x 2 columns]

In [20]:
submissionSet.to_csv(r'D:\CS\dataset\competition\result.csv', index=False)

提交结果的rmse是4.1左右